{% extends 'core/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block editorLink %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block content %}
<div class="w-full h-full p-4 flex gap-10">
    {% include 'core/sidebar.html' %}
    <div class="px-4 py-6 w-full h-full">
        <div class="mb-4 head border-b-2 border-stone-300">
            <h1 class="mb-4 text-3xl font-bold text-stone-800">{{ post.title }}</h1>
            <div class="flex align-center text-stone-600">
                <a href="#" class="inline-block mr-4">{{ post.posted_by }}</a>
                <div class="mb-2 mr-4">Views: {{ post.views }}</div>
                <div class="mb-2 mr-4">Asked at: {{ post.posted_at }}</div>
                {% if post.posted_at != post.modified_at %}
                    <div class="mb-2">Modified at:{{ post.modified_at }}</div>
                {% endif %}
            </div>
        </div>
        <div class="main grid grid-cols-[auto_1fr] gap-4">
            <div class="updown grid justify-items-center text-stone-800">
                <a href="{% url 'post:upvote_post' post.id %}" class="inline-block text-5xl"><i class="fa-solid fa-fw fa-caret-up"></i></a>
                <div class="text-xl font-bold">{{ score }}</div>
                <a href="{% url 'post:downvote_post' post.id %}" class="inline-block text-5xl"><i class="fa-solid fa-fw fa-caret-down"></i></a>
            </div>
            <div class="content">
                <!-- <div class="parse mb-6 text-stone-800" data-content="{{ post.context }}">{{ post.context }}</div> -->
                <div class="">
                    <div class="">
                        {% for tag in post.tags.all %}
                            <a href="#" class="px-2 py-1 inline-block text-sm bg-green-100 rounded-md">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
            {% for comment in post.all_comments.all %}
            <div class="main grid grid-cols-[auto_1fr] gap-4 border-t-2">
                <div class="updown grid justify-items-center text-stone-800">
                    <a href="{% url 'post:upvote_comment' post.id comment.id %}" class="inline-block text-5xl"><i class="fa-solid fa-fw fa-caret-up"></i></a>
                    <div class="text-xl font-bold">{{ comment.score }}</div>
                    <a href="{% url 'post:downvote_comment' post.id comment.id %}" class="inline-block text-5xl"><i class="fa-solid fa-fw fa-caret-down"></i></a>
                </div>
                <div class="content">
                    <div class="parse mb-6 text-stone-800" data-content="{{ comment.context }}">{{ comment.context }}</div>
                </div>
            </div>
            <div class="main grid grid-cols-[auto_1fr] gap-4 border-t-2">
                <div class="updown grid justify-items-center text-stone-800">
                    <a href="{% url 'post:upvote_comment' post.id comment.id %}" class="inline-block text-5xl"><i class="fa-solid fa-fw fa-caret-up"></i></a>
                    <div class="text-xl font-bold">1</div>
                    <a href="{% url 'post:downvote_comment' post.id comment.id %}" class="inline-block text-5xl"><i class="fa-solid fa-fw fa-caret-down"></i></a>
                </div>
                <div class="content">
                    <div class="parse mb-6 text-stone-800" data-content="{{ comment.context }}"># Hello\n\n** this is my first markdown comment here **</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <form method="POST" action="">
            {% csrf_token %}

            <div class="mb-3">
                <textarea name="context" id="textEditor"></textarea>
            </div>
            <button type="button" id="submitBtn" class="w-full bg-green-400 text-2xl p-2 font-medium text-white rounded-md">Send</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block editorScript %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}
{% block markedjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/12.0.0/marked.min.js" integrity="sha512-tjg8I2d6Fi0OBGz1csmr7RfI4uupYaCfL/RqhVRTS42RMGwfBsjwBGmhzhI+e2dPmyew8cFkoxnVkGvADDLvbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static 'post/detail.js' %}"></script>
{% endblock %}

