{% extends 'core/base.html' %}

{% block title %}New Post{% endblock %}

{% block content %}

<div class="px-4 py-6 w-full h-full text-stone-800">
    <h1 class="font-bold text-3xl">New Post</h1>

    <form method="POST" action="">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="">
            <span></span>
            <input type="text">
            <!-- 
                You might need to use jQuery to 
                make custom tag input

                hint: take stackoverflow input as example
             -->
        </div>

        <button type="submit" class="w-full p-2 font-bold text-lg rounded-md bg-green-500 hover:bg-green-600 text-white">Create</button>
    </form>
</div>

{% endblock %}
