{% extends 'core/base.html' %}

{% block title %}{{ request.user }}'s Profile{% endblock %}

{% block content %}

<div class="w-full h-full p-4 flex gap-10">
    {% include 'core/sidebar.html' %}
    <div id="test" class="w-full relative grid">
        <div class="z-10 select-none absolute self-center justify-self-center p-2 rounded-md bg-gray-200 w-1/2 h-96 overflow-hidden">
            <img id="profilePicturePreview" alt="Profile Picture" style="user-drag: none; -webkit-user-drag: none;" />
            <div id="draggerSquare" class="absolute top-0 left-0 w-40 h-40 border border-solid border-2 border-purple-600 grid items-end justify-end cursor-move">
                <div class="flex relative -bottom-8">
                    <div id="imageZoomIn" class="text-lg border-2 border-stone-400 cursor-pointer"><i class="fa-solid fa-fw fa-magnifying-glass-plus"></i></div>
                    <div id="imageZoomOut" class="text-lg border-2 border-stone-400 cursor-pointer"><i class="fa-solid fa-fw fa-magnifying-glass-minus"></i></div>
                </div>
            </div>
        </div>
        <div class="h-40 bg-gray-100 grid grid-cols-2">
            <div class="self-end flex relative -bottom-10 left-10">
                <div id="profileImage" class="relative w-24 h-24 bg-gray-200">
                    <form id="editHoverForm" method="POST" action="" enctype="multipart/form-data" class="hidden absolute inset-0 bg-gray-400 opacity-70">
                        {% csrf_token %}
                        <div class="relative w-full flex justify-center items-center">
                            <input id="fileSelect" type="file" name="profile_picture" accept="image/png, image/jpg, image/jpeg" class="absolute inset-0 opacity-0 cursor-pointer" />
                            <i class="text-2xl fa-solid fa-pen-to-square"></i>
                        </div>
                    </form>
                </div>
                <div class="p-2 self-end text-xl font-medium">{{ request.user.email }}</div>
            </div>
            <div class="self-end justify-self-end flex gap-4">
                <div class="py-2 px-4 text-lg border">General</div>
                <div class="">option2</div>
                <div class="">option3</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'accounts/user_profile.js' %}"></script>
{% endblock %}

