{% extends 'core/base.html' %}

{% block title %}{{ request.user }}'s Profile{% endblock %}

{% block stylesheet %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'accounts/jquery.guillotine.css' %}" />
{% endblock %}

{% block content %}

<div class="w-full h-full p-4 flex gap-10">
    {% include 'core/sidebar.html' %}
    <div id="test" class="w-full relative grid">
        <div class="z-10 select-none absolute self-center justify-self-center p-2 rounded-md bg-gray-200 w-1/3">
			<div class="w-full">
				<img id="profilePicturePreview" alt="Profile Picture" class="relative" style="user-drag: none; -webkit-user-drag: none;" />
			</div>
			<div class="mt-2 w-full flex gap-2 justify-center">
				<div id="zoomIn" class="px-4 py-2 bg-gray-100 cursor-pointer"><i class="fa-solid fa-fx fa-magnifying-glass-plus"></i></div>
				<div id="zoomOut" class="px-4 py-2 bg-gray-100 cursor-pointer"><i class="fa-solid fa-fx fa-magnifying-glass-minus"></i></div>
				<div id="saveImg" class="px-4 py-2 bg-gray-100 cursor-pointer"><i class="fa-solid fa-fx fa-floppy-disk"></i></div>
			</div>
        </div>
        <div id="test" class="h-40 bg-gray-100 grid grid-cols-2">
            <div class="self-end flex relative -bottom-10 left-10">
                <div id="profileImage" class="relative w-24 h-24 bg-gray-200">
                    <form id="editHoverForm" method="POST" action="" enctype="multipart/form-data" class="hidden absolute inset-0 bg-gray-400 opacity-70">
                        {% csrf_token %}
                        <div class="relative w-full flex justify-center items-center">
                            <input id="fileSelect" type="file" name="profile_picture_full" accept="image/png, image/jpg, image/jpeg" class="absolute inset-0 opacity-0 cursor-pointer" />
							<input id="cropDetails" type="text" name="crop_details" class="hidden" />
							<i class="text-2xl fa-solid fa-pen-to-square"></i>
                        </div>
                    </form>
                </div>
                <div class="p-2 self-end text-xl font-medium">{{ request.user.email }}</div>
            </div>
            <div class="self-end justify-self-end flex gap-4">
                <div class="py-2 px-4 text-lg border">General</div>
                <div class="">option2</div>
                <div class="">option3</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'accounts/user_profile.js' %}"></script>
	<script src="{% static 'accounts/jquery.guillotine.js' %}"></script>
{% endblock %}

