{% extends 'core/base.html' %}

{% block title %}Follow Test{% endblock %}

{% block content %}

<div class="p-2 bg-green-100">
    <p>Is user authenticated: {% if request.user.is_authenticated %}yes{% else %}no{% endif %}</p>
    <div class="mt-4">
        <p>Username: <strong>{{ request.user }}</strong></p>
        <p>Followers: <strong>{{ request.user.followers.count }}</strong></p>
        <p>Following: <strong>{{ request.user.following.count }}</strong></p>
    </div>
    <a href="{% url 'core:followu2' %}" class="text-blue-500">Follow user1</a>
</div>

{% endblock %}
