{% extends 'core/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="w-full h-full p-4 flex gap-10">
    {% include 'core/sidebar.html' %}
    <div class="w-full">
        <ul>
            {% for post in posts %}
                <li><a href="{% url 'post:detail' post.id %}">
                    <div class="mb-2 p-2 bg-gray-100 rounded-lg flex justify-between">
                        <div class="">
                            <div class="text-lg">{{ post.title }}</div>
                            <div class="">{{ post.posted_by }}</div>
                        </div>
                        <div class="additionalData">
                            <!-- 
                                Date is initially placed at .postTimeHidden, which will 
                                be processed with moment.js in core/index.js to be shown
                                in .postTime
                             -->
                            <div class="postTime text-sm">loading...</div>
                            <div class="postTimeHidden hidden">{{ post.posted_at }}</div>
                        </div>
                    </div>
                </a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
