{% extends 'core/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="w-full h-full p-4 flex gap-10">
    <div class="">
        <h2 class="text-stone-800">Tags</h2>
        <ul>
            <li><a href="#">Gaming</a></li>
            <li><a href="#">Gaming</a></li>
            <li><a href="#">Gaming</a></li>
            <li><a href="#">Gaming</a></li>
            <li><a href="#">Gaming</a></li>
        </ul>
    </div>
    <div class="w-full">
        <ul>
            <li><a href="#">
                <div class="p-2 bg-gray-100 rounded-lg flex justify-between">
                    <div class="">
                        <div class="text-lg">How to center a div?</div>
                        <div class="">velocityd</div>
                    </div>
                    <div class="">
                        <div class="text-sm">8mins ago</div>
                        <div class="text-sm">12 replies</div>
                    </div>
                </div>
            </a></li>
        </ul>
    </div>
</div>
{% endblock %}
